/* Everything Selectors */
html, body{
    height: 100%;
    margin: 0;
    width: 100%;
    display: block;
}

body{
    display: block;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

section{
    display: contents;
}

.section-header{
    display: flex;
    font-size: 25px;
    align-items: center;
}

.contents-container{
    display: contents;
}
/* End of Everything Selectors */

/* Search Bar */
.search-container{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background: #f6f6f6;
}

#search-input {
    font-size: 20px;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}
/* End of Search Bar */

/* Start Of Nav */
.nav-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1150px; 
    width: 100%;
    padding: 10px;
}
.navbar{
    background-color: rgb(21, 22, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    display: flex;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#logo-img {
    width: 100px;
}

.off-screen-menu{
    height: 100vh;
    width: 100%;
    max-width: 640px;
    position: fixed;
    top: 0;
    right: -640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    transition: right .3 ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9); 
}

.off-screen-menu ul{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.off-screen-menu.active{
    right: 0;
}

.ham-menu{
    height: 11vw;
    width: 10vw;
    margin-left: auto;
    position: relative;
    display: none;
    z-index: 1;
    margin-right: 5px;
}

.ham-menu span{
    height: 2px;
    width: 100%;
    background-color: rgb(255, 115, 0);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/* End Of Nav */

/* Start Of Hero */
#hero-header{
    grid-area: hero-header;
}

.section-header h1{
    width: 100%;
    border-top: 2px solid rgb(255, 115, 0);
}

.hero img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.hero-box{
    width: 100%;
    grid-area: hero-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 50px;
    white-space: nowrap;
}

.hero-box button{
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 115, 0);
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.hero-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* End of Hero */

/* Start of Wing Section */
#wing-header{
    grid-area: wing-header;
}

.wing-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.wing-box{
    width: 100%;
    height: 300px;
}

#wing-img-box1{
    grid-area: wing-img-box1;
}

#wing-img-box2{
    grid-area: wing-img-box2;
}

#wing-review-box1{
    grid-area: wing-review-box1;
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#wing-review-box2{
    grid-area: wing-review-box2;
    cursor: pointer;
}

.wing-reviews-title{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}
/* End of Wing Section */

/* Start of Craving Content */
#content-header{
    grid-area: content-header;
}

#content1{
    grid-area: content1;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content2{
    grid-area: content2;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content3{
    grid-area: content3;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content4{
    grid-area: content4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content:hover img{
    filter: blur(1px);
}

.content-text{
    position: absolute;
    display: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.content:hover .content-text{
    display: block;
    text-shadow:1px 1px 2px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.4);
}
/* End of Craving Content */

/* Start of Strip */
#strip-header{
    grid-area: strip-header;
}

#strip{
    grid-area: strip;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-wrap: wrap;
}

#strip img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* End of Strip */

/* Start of Desserts */
.dessert{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.dessert img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.dessert p{
    margin: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.dessert:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 8px 16px rgba(0,0,0,0.2);
}
/* End of Desserts */

/* Start of Footer */
footer{
    background-color: black;
}

footer a{
    text-decoration: none;
    color: white;
}

#copyright{
    color: rgb(255, 115, 0);
}

#footer-contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-box{
    max-width: 1000px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px
}

#footer-box-index-page{
    margin-top: 70px;
}
/* End of Footer */

/* Start of Recipe Details Page */
.recipe-details-container {
    max-width: 500px;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;  
    padding: 0 20px;
    width: 100%;
}

#recipe-details-display{
    margin-top: 20px;
}

#recipe-details-display li{
    border-bottom: 1px solid rgb(255, 115, 0);
    margin: 18px;
    color: rgb(73, 73, 73);
    padding-bottom: 5px;
    font-size: 20px;
}

#recipe-details-img{
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: 100%;
}

#recipe-details-recipe-name{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(255, 115, 0);
    max-width: 600px;
    font-size: clamp(20px, 5vw, 40px);
}

#ingredients-box{
    margin-top: 10px;
    max-width: 300px;
    font-size: 20px;
}

#instructions-box{
    margin-top: 10px;
    max-width: 300px;
    font-size: 20px;
}

#recipe-details-ingredients-container{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
}

#recipe-details-emoji-box{
    display: flex;
    gap: 5px;
}

#recipe-details-info-box p{
    margin-top: 10px;
    font-size: 20px;
}

#recipe-details-creator-box{
    display: flex;
    gap: 5px;
}

#recipe-details-creator-box p:nth-of-type(1){
    color: rgb(255, 115, 0);
    text-decoration: underline;
}

#recipe-details-desc{
    color: rgb(73, 73, 73)
}

#recipe-details-recipe-name{
    font-size: 50px;
}
/* End of Recipe Details Page */

/* Start of Category Page */
.category-page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.category-page-box{
    height: 200px;
    width: 600px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#category-page-box1{
    background-image: url("images/italian-category.webp");
    background-size: cover;
    background-position: center;
}

#category-page-box2{
    background-image: url("images/mexican-category.webp");
    background-size: cover;
    background-position: center;
}

#category-page-box3{
    background-image: url("images/american-category.webp");
    background-size: cover;
    background-position: center;
}

#category-page-box4{
    background-image: url("images/indonesian-category.webp");
    background-size: cover;
    background-position: center;
}

#category-page-box5{
    background-image: url("images/japanese-category.webp");
    background-size: cover;
    background-position: center;
}

#category-page-box6{
    background-image: url("images/dessert-category.webp");
    background-size: cover;
    background-position: center;
}
/* End of Category Page */

/* Start of Terms Page */
.terms-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}

#terms-header{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(255, 115, 0);
    max-width: 600px;
    font-size: clamp(20px, 5vw, 40px);
}

#terms-display ul{
    list-style: none;
}

#terms-display ul li{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

#terms-display p{
    color: rgb(79, 79, 79)
}

#terms-display a{
    color: rgb(255, 115, 0);
    font-weight: bold;
}
/* End of Terms Page */

/* Start of About Us Page */
#about-us-display{
    max-width: 500px;
    margin: 0 auto;
}

#about-us-display h1{
    margin-bottom: 10px;
    margin-top: 50px;
    border-bottom: 2px solid rgb(255, 115, 0);
    max-width: 600px;
    font-size: clamp(20px, 5vw, 40px);
}

#about-us-display p{
    margin-top: 5px;
    font-size: 20px;
    color: rgb(79, 79, 79);
}

#about-us-display strong{
    color: black
}

#about-us-display a{
    color: rgb(255, 115, 0);
    font-weight: bold;
}
/* End of About Us Page */

/* Start of Contact Page */
.contact-page-container{
    min-height: 100dvh;
}

#contact-page-display{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    border-radius: 12px;
}

#contact-page-display h1{
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(255, 115, 0);
    max-width: 600px;
    font-size: clamp(20px, 5vw, 40px);
}

#contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px
}

#contact-form input{
    height: 30px;
    font-size: 20px;
}

.inputs{
    outline: none;
    border-radius: 8px;
    border: 2px solid #ddd;
    transition: 0.3s ease-in-out;
    padding: 12px;
}

.inputs:focus{
    border-color: rgb(255, 115, 0);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)
}

#contact-page-display p{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact-form label{
    font-size: 20px
}

#contact-form textarea{
    height: 100px;
    font-size: 20px;
    resize: none;
}

#contact-form button{
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 25px;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

#contact-form input::placeholder{
    color: grey;
}
/* End of Contact Page */

/* Start of Display Class */
.display{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    min-height: 100dvh;
}

.display-box{
    margin: 20px;
    display: flex;
    gap: 5px;
    border: 1px solid rgb(231, 231, 231);
    width: 600px;
}

.display-img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.display a{
    text-decoration: none;
    color: black;
}

.display h2{
    border-bottom: 1px solid rgb(255, 115, 0);
    font-size: 30px;
}

.display p{
    font-size: 18px;
    margin-top: 10px;
}

.display-text-box{
    margin: 8px;
}

.display-emoji-box{
    display: flex;
    gap: 5px;
    color: rgb(72, 72, 72);
}
/* End of Display Class */

/* Start of Container */
.container {
    max-width: 1000px; 
    margin: 0 auto;  
    padding: 0 20px;
    margin-top: 10px;
    display: grid;
    height: auto;
    grid-gap: 0.2rem;
    margin-top: 1em;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 
        minmax(200px, auto) /* Hero Box */
        minmax(100px, auto) /* Wing Header */
        minmax(200px, auto) /* Wing Imgs */
        minmax(50px,  auto) /* Wing Review Box */
        minmax(100px, auto) /* Craving Content Header */
        minmax(200px, auto) /* Content Imgs */
        minmax(100px, auto) /* Strip Header for Desserts*/
        minmax(200px, auto);/* Strip for Desserts */
    grid-template-areas: 
        "hero-box hero-box hero-box hero-box"
        "wing-header wing-header wing-header wing-header"
        "wing-img-box1 wing-img-box1 wing-img-box2 wing-img-box2"
        "wing-review-box1 wing-review-box1 wing-review-box2 wing-review-box2"
        "content-header content-header content-header content-header"
        "content1 content2 content3 content4"
        "strip-header strip-header strip-header strip-header"
        "strip strip strip strip";
}
/* End of Container */

  /* Start of 925px Media Query */
  @media (max-width: 925px) {
   
    .hero-box h1{
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 40px;
        white-space: nowrap;
    }

    .hero img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .search-container{
        width: max-content;
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 28px;
        background: #f6f6f6;
    }
    
    #search-input {
        font-size: 15px;
        color: #333333;
        margin-left: 14px;
        outline: none;
        border: none;
        background: transparent;
    }
 }
 /* End of 925px Media Query */
  
  /* Start of 768px Media Query */
  @media (max-width: 768px) {
  
    .hero-box h1{
        font-size: 30px;
    }

    .hero-box button{
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 115, 0);
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* End of 768px Media Query */

/* Start of 641px Media Query */
  @media (min-width: 641px) {
    .off-screen-menu {
      display: none;
    }
  }
/* End of 641px Media Query */
  
/* Start of 640px Media Query */
  @media (max-width: 640px) {

    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        height: auto;
        gap: 0.5rem;
        margin-top: 1em;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .content img{
        filter: blur(1px);
    }

    .content-text{
        position: absolute;
        display: block;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }

    .content .content-text{
        text-shadow:1px 1px 2px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.4);
    }

    /* Start of Nav Media Query */

    .navbar{
        padding: 2vw
    }

    .off-screen-menu{
        height: 100vh;
        width: 100%;
        max-width: 640px;
        position: fixed;
        top: 0;
        right: -640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 50px;
        transition: right .3 ease-in-out;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.9); 
    }

    .off-screen-menu ul li a:hover{
        color: rgb(255, 115, 0);
    }
    
    .off-screen-menu ul{
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .off-screen-menu ul li a{
        font-size: 30px;
    }

    .ham-menu{
        display: block;
    }

    .on-screen-menu{
        display: none;
    }
    /* End of Nav Media Query */

    /* Start of Search Bar Media Query */
    .search-container{
        width: max-content;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 28px;
        background: #f6f6f6;
    }
    
    #search-input {
        font-size: 20px;
        color: #333333;
        margin-left: 14px;
        outline: none;
        border: none;
        background: transparent;
    }

    .search{
        margin-left: auto;
        margin-right: auto;
    }
    /* End of Search Media Query */

    /* Start of Hero Box Media Query */
    .hero-box h1{
        font-size: 25px;
    }

    .hero-overlay button{
        max-width: 100px;
    }

    .hero-box button{
        padding: 1.5vw 2vw;
        font-size: 10px;
    }
    /* End of Hero Box Media Query */

    /* Start of Strip Media Query */
    #strip{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    /* Start of Dessert Media Query */
    .dessert{
        width: 30vw;
        height: 30vw;
        margin-top: 1px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 1px;
    }

    /* Start of Footer Media Query */
    footer{
        margin-top: 40px;
    }

    #footer-box-index-page{
        margin-top: 70px;
    }
    /* End of Footer Media Query */

    .section-header{
        width: 100%;
        text-align: center;
        margin: 1em
    }

    /* Start of Wing Box Media Query */
    .wing-box{
        width: 100%;
        height: 40vw;
    }

    #wing-review-box1{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
    }

    #wing-review-box2{
        text-align: left;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        text-align: center;
    }

    .wing-reviews-title{
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 4vw;
    }
    /* End of Wing Box Media Query */

    .contents-container{
        display: flex;
    }

    .content{
        width: 100%;
        height: 60vw;
        font-size: 2vw;
    }

    #logo-img {
        width: 15vw
    }

    /* Start of Display Class Media Queries */

    .display-box{
        margin: 20px;
        width: 400px;
    }

    .display-img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .display h2{
        border-bottom: 1px solid rgb(255, 115, 0);
        font-size: 25px;
    }

    .display p{
        font-size: 18px;
        margin-top: 5px;
    }
    /* End of Display Class Media Queries */

    /* Start of Recipe Details Page Media Queries */
    .recipe-details-container {
        max-width: 400px;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;  
        padding: 0 20px;
        width: 100%;
    }

    #recipe-details-recipe-name{
        font-size: 35px;
    }
    /* End of Recipe Details Page Media Queries */
    .category-page-box{
        height: 200px;
        width: 400px;
        font-size: 40px;
    }

    .terms-container{
        max-width: 400px;
    }

    #about-us-display{
        max-width: 400px;
        margin: 0 auto;
    }

    #contact-page-display{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 40px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-top: 60px;
        border-radius: 12px;
    }
}
/* End of 640px Media Query */
  
/* Start of 475px Media Query */
@media (max-width: 475px) {

    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        height: auto;
        gap: 0.5rem;
        margin-top: 1em;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}
/* Start of 475px Media Query */

/* Start of 450px Media Query */
@media (max-width: 450px) {

    .display-box{
        margin: 20px;
        display: flex;
        gap: 5px;
        border: 1px solid rgb(231, 231, 231);
        width: 275px;
        flex-direction: column;
    }

    .search-container{
        padding: 5px;
        max-width: 200px;
    }
    
    #search-input {
        font-size: 20px;
        margin-left: 0px;
    }

    .category-page-box{
        height: 200px;
        width: 300px;
        font-size: 40px;
    }

    .terms-container{
        max-width: 300px;
    }

    #about-us-display{
        max-width: 275px;
        margin: 0 auto;
    }
    
    #contact-page-display{
        max-width: 300px;
        padding: 30px;
    }
    
}
/* End of 450px Media Query */

/* Start of 375 Media Query */
@media (max-width: 375px) {

    .hero-box h1{
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 15px;
        white-space: nowrap;
    }
    
    .hero-box button{
        padding: 1vw 2vw;
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 115, 0);
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        font-size: 6px;
        font-weight: bold;
    }

    .section-header{
        display: flex;
        font-size: 13px;
        align-items: center;
    }

    .search-container{
        padding: 5px;
        max-width: 150px;
    }

}
/* End of 375 Media Query */