/* Everything Selectors */
html, body{
    height: 100%;
    margin: 0;
    width: 100%;
    display: block;
}

body{
    display: block;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
}

section{
    display: contents;
}

.section-header{
    display: flex;
    font-size: 25px;
    align-items: center;
}

.contents-container{
    display: contents;
}

/* End of Everything Selectors */

/* Search Bar */
.search-container{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-radius: 28px;
    background: #f6f6f6;
}

#search-input {
    font-size: 2vw;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}
/* End of Search Bar */

/* Start Of Nav */
.nav-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px; 
    width: 100%;
}
.navbar{
    background-color: rgb(21, 22, 21);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    display: flex;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo-img {
    width: 100px
}

.off-screen-menu{
    height: 100vh;
    width: 100%;
    max-width: 475px;
    position: fixed;
    top: 0;
    right: -475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    transition: right .3 ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9); 
}

.off-screen-menu ul{
    display: flex;
    flex-direction: column;
}

.off-screen-menu.active{
    right: 0;
}

.ham-menu{
    height: 11vw;
    width: 10vw;
    margin-left: auto;
    position: relative;
    display: none;
    z-index: 1;
    margin-right: 5px;
}

.ham-menu span{
    height: 2px;
    width: 100%;
    background-color: rgb(255, 115, 0);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* End Of Nav */

/* Start Of Hero */

#hero-header{
    grid-area: hero-header;
}

.section-header h1{
    width: 100%;
    border-top: 2px solid rgb(255, 115, 0);
}

.hero img{
    height: 90%;
    width: 90%;
    object-fit: cover;
}

.hero-box{
    width: 100%;
    grid-area: hero-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 30px;
    white-space: nowrap;
}

.hero-box button{
    padding: 1vw 2vw;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 115, 0);
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.hero-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* End of Hero */

/* Start of Wing Section */

#wing-header{
    grid-area: wing-header;
}

.wing-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.wing-box{
    width: 100%;
    height: 200px;
}

#wing-img-box1{
    cursor: pointer;
    grid-area: wing-img-box1;
}

#wing-img-box2{
    grid-area: wing-img-box2;
}

#wing-review-box1{
    grid-area: wing-review-box1;
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#wing-review-box2{
    grid-area: wing-review-box2;
    cursor: pointer;
}

.wing-reviews-title{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-stars{
    margin-bottom: 10px;
}
/* End of Wing Section */

/* Start of Craving Content */

#content-header{
    grid-area: content-header;
}

#content1{
    grid-area: content1;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content1:hover p{
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7)
}

#content1:hover img{
    filter: blur(1px);
}

#content1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

#content2{
    grid-area: content2;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content2:hover p{
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7)
}

#content2:hover img{
    filter: blur(1px);
}

#content2 img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#content3{
    grid-area: content3;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content3:hover p{
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7)
}

#content3:hover img{
    filter: blur(1px);
}

#content3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#content4{
    grid-area: content4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#content4:hover p{
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#content4:hover img{
    filter: blur(1px);
}

#content4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content{
    display: block;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.content-text{
    position: absolute;
    display: none;
    color: white;
    font-weight: bold;
}
/* End of Craving Content */

/* Start of Strip */
#strip-header{
    grid-area: strip-header;
}

#strip{
    grid-area: strip;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    flex-wrap: wrap;
}

#strip img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* End of Strip */

/* Start of Desserts */
.dessert{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.dessert img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.dessert p{
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.dessert:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
/* End of Desserts */

/* Start of Footer */
footer{
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    margin-top: 5vw;
}

footer a{
    color: rgb(255, 115, 0);
    text-decoration: none;
}

#footer-contacts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* End of Footer */

/* Start of Search Results Page */

#search-results-box{
    margin: 20px;
    display: flex;
    gap: 2px;
    border: 1px solid rgb(231, 231, 231);
    width: 300px;
}

#search-results-img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

#search-results-display{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-results-display a{
    text-decoration: none;
    color: black;
}

#search-results-display h2{
    border-bottom: 1px solid rgb(255, 115, 0);
    font-size: 20px;
}

#search-results-display p{
    font-size: 10px;
    margin-top: 5px;
}

#search-results-text-box{
    margin: 8px;
}

#search-results-emoji-box{
    display: flex;
    gap: 5px;
    color: rgb(72, 72, 72);
}

/* End of Search Results Page */

/* Start of Recipe Details Page */

#recipe-details-display li{
    border-bottom: 1px solid rgb(255, 115, 0);
    margin: 20px;
}

#recipe-details-img{
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}

#recipe-details-recipe-name{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid rgb(255, 115, 0);
    max-width: 600px;
    font-size: clamp(20px, 5vw, 30px);
}

#ingredients-box{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    font-size: 10px;
}

#instructions-box{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    font-size: 10px;
}

#recipe-details-ingredients-container{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
}

.recipe-details-container {
    max-width: 300px;  
    margin: 0 auto;   
    padding: 0 20px;  
}

#recipe-details-emoji-box{
    display: flex;
    gap: 5px;
}

#recipe-details-info-box p{
    margin-top: 10px;
    font-size: 13px;
}

#recipe-details-creator-box{
    display: flex;
    gap: 5px;
}

#recipe-details-creator-box p:nth-of-type(1){
    color: rgb(255, 115, 0);
    text-decoration: underline;
}
/* End of Recipe Details Page */

/* Start of Container */
.container {
    max-width: 600px; 
    margin: 0 auto;  
    padding: 0 20px;
    margin-top: 10px;
    display: grid;
    height: auto;
    grid-gap: 0.2rem;
    margin-top: 1em;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 
        minmax(200px, auto) /* Hero Box */
        minmax(100px, auto) /* Wing Header */
        minmax(200px, auto) /* Wing Imgs */
        minmax(50px,  auto) /* Wing Review Box */
        minmax(100px, auto) /* Craving Content Header */
        minmax(200px, auto) /* Content Imgs */
        minmax(100px, auto) /* Strip Header for Desserts*/
        minmax(200px, auto);/* Strip for Desserts */
    grid-template-areas: 
        "hero-box hero-box hero-box hero-box"
        "wing-header wing-header wing-header wing-header"
        "wing-img-box1 wing-img-box1 wing-img-box2 wing-img-box2"
        "wing-review-box1 wing-review-box1 wing-review-box2 wing-review-box2"
        "content-header content-header content-header content-header"
        "content1 content2 content3 content4"
        "strip-header strip-header strip-header strip-header"
        "strip strip strip strip";
}
/* End of Container */
  
/* Start of Extra Small */
@media (max-width: 475px) {

    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        height: auto;
        gap: 0.5rem;
        margin-top: 1em;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #strip{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .dessert{
        width: 30vw;
        height: 30vw;
        margin-top: 1px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 1px;
    }

    footer{
        background-color: black;
        padding: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        margin-top: 50px;
    }

    footer a{
        color: rgb(255, 115, 0);
        text-decoration: none;
    }

    #footer-contacts{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    footer p{
        font-size: 10px;
    }

    .section-header{
        width: 100%;
        text-align: center;
        margin: 1em
    }

    .wing-box{
        width: 100%;
        height: 40vw;
    }

    #wing-review-box1{
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
    }

    #wing-review-box2{
        text-align: left;
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        text-align: center;
    }

    .hero-overlay{
        position: absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-box{
        width: 100%;
    }

    .hero img{
        width: 100%;
    }

    .contents-container{
        display: flex;
    }

    .content{
        width: 100%;
        height: 60vw;
        font-size: 5vw;
    }

    .hero-overlay button{
        max-width: 100px;
    }

    .ham-menu{
        display: block;
    }

    .on-screen-menu{
        display: none;
    }


    #logo-img {
        width: 15vw
    }

    .search-container{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 1vw;
    border-radius: 28px;
    background: #f6f6f6;
    }

    #search-input {
        font-size: 10px;
        color: #333333;
        margin-left: 14px;
        outline: none;
        border: none;
        background: transparent;
    }

    .search{
        margin-right: auto;
        margin-left: auto;
    }

    .off-screen-menu ul li a:hover{
        color: rgb(255, 115, 0);
    }

    .navbar{
        padding: 2vw
    }
  
    #search-results-box{
        margin: 20px;
        display: flex;
        gap: 2px;
        border: 1px solid rgb(231, 231, 231);
        width: 200px;
    }

    #search-results-img{
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-top: 10px;
    }

    #search-results-display{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search-results-display a{
        text-decoration: none;
        color: black;
    }

    #search-results-display h2{
        border-bottom: 1px solid rgb(255, 115, 0);
        font-size: 15px;
    }

    #search-results-display p{
        font-size: 8px;
        margin-top: 5px;
    }

    #search-results-text-box{
        margin: 8px;
    }

    #search-results-emoji-box{
        display: flex;
        gap: 5px;
        color: rgb(72, 72, 72);
    }

    #recipe-details-emoji-box{
        display: flex;
        gap: 5px;
    }
    
    #recipe-details-info-box p{
        margin-top: 6px;
        font-size: 10px;
    }
    
    #recipe-details-creator-box{
        display: flex;
        gap: 5px;
    }
    
    #recipe-details-creator-box p:nth-of-type(1){
        color: rgb(255, 115, 0);
        text-decoration: underline;
    }

    .hero-box h1{
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 25px;
        white-space: nowrap;
    }
    
    .hero-box button{
        padding: 1vw 2vw;
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 115, 0);
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        font-size: 8px;
        font-weight: bold;
    }

}
/* End of Extra Small */

/* Start of 2x Extra Small */
@media (max-width: 375px) {
    .hero-box h1{
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-size: 15px;
        white-space: nowrap;
    }
    
    .hero-box button{
        padding: 1vw 2vw;
        border: none;
        border-radius: 2px;
        background-color: rgb(255, 115, 0);
        color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        font-size: 6px;
        font-weight: bold;
    }

    .section-header{
        display: flex;
        font-size: 13px;
        align-items: center;
    }
}
/* End of 2x Extra Small */